<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-autocomplete
                :loading=loading
                :label=label
                :items=arrayOfGeoResponseToAutocompleteString()
                :search-input.sync="search"
                v-model="selected"
                hide-no-data
                hide-details
                no-filter>

            </v-autocomplete>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from "vue-property-decorator";
    import GeoResponse from "./data/entities/GeoResponse";

    @Component
    export default class App extends Vue {
      protected label = "Введите геозапрос (не менее 3х знаков)";
      // поисковой запрос
      protected search: string = '';
      protected selected: string = '';
      // индикатор загрузки
      protected loading = false;
      protected items: Array<GeoResponse> = [];

      protected fetchController: AbortController;
      protected fetchSignal: AbortSignal;

      constructor() {
          super();
          this.fetchController = new AbortController();
          this.fetchSignal = this.fetchController.signal;
      }

      @Watch('search') protected onSearchChanged(value: string) {
          // this.fetchController.abort();

          if (value && value.length > 2 && value != this.selected) {
              this.fetchData('https://haru-haru.000webhostapp.com/', value);
          } else {
              this.items = [];
          }
      }

      protected arrayOfGeoResponseToAutocompleteString(): Array<string> {
          return this.items.map(item => `${item.name}, ${item.description}`)
      }

      protected async fetchData(baseUrl: string, searchQuery: string) {
          this.loading = true;
          const response = await fetch(`${baseUrl}?query=${searchQuery}`, { method: 'get', signal: this.fetchSignal });
          this.items = await response.json();
          this.loading = false;
      }
    }
</script>
